{% extends "layout.html" %}

{% block title %}
    <title>Soft Share</title>
{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="../styles/index.css">
    <link rel="stylesheet" href="../styles/modal.css">
{% endblock styles %}

{% block content %}
    <div class="bg">
        <div class="firstImg">
            <img src="../assets/hang-clothes.svg" alt="Hanger">
        </div>

        <div class="fourImg">
            <img src="../assets/pants.svg" alt="Pants">
            <img src="../assets/t-shirt.svg" alt="T-Shirt">
            <img src="../assets/dress.svg" alt="Dress">
            <img src="../assets/socks.svg" alt="Socks">
        </div>
    </div>

    <header>
        <div class="logo">
            <img src="../assets/logo.svg" alt="Logo">
            <p>Soft Share</p>
        </div>
        <a href="/Register">
            <span><img src="../assets/register.svg" alt="Register"></span>
            Register a donation point
        </a>
    </header>

    <main>
        <h1>Donate warm kindness through our website</h1>
        <a href="#">
            <span></span>
            Search point</a>
    </main>
{% endblock content %}

{% block modal %}
    {% include "./partials/index_modal.html"%}
{% endblock modal %}

{% block scripts %}
    <script src='../scripts/index.js'></script>
{% endblock scripts %}