{% extends "layout.html" %}

{% block title %}
    <title>Register a Point</title>
{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="../styles/register.css">
    <link rel="stylesheet" href="../styles/modal.css">
{% endblock styles %}

{% block content %}

    {% include "./partials/page-header.html"%}

    <form action="/savepoint" method='POST'>

        <fieldset>
            <legend>
                <h1>Register your info</h1>
            </legend>

            <div class="field-group">
                <div class="field">
                    <label for="name">Your name</label>
                    <input type="text" name='name' placeholder='     Name' required='required'>
                </div>

                <div class="field">
                    <label for="image">Image link</label>
                    <input type="url" name='image' placeholder='     http://' required='required'>
                </div>
            </div>

            <div class="field-group">
                <div class="field">
                    <label for="address">Address</label>
                    <input type="text" name='address' placeholder='     Address' required='required'>
                </div>

                <div class="field">
                    <label for="address2">Complement</label>
                    <input type="text" value='' name='address2' placeholder='     #'>
                </div>
            </div>

            <div class="field-group">
                <div class="field">
                    <label for="state">State</label>
                    <select name='state'>
                        <option value="0">
                            Select a state
                        </option>
                    </select>
                </div>

                <div class="field">
                    <label for="city">City</label>
                    <select name='city' disabled='true'>
                        <option value="">Select a city</option>
                    </select>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>
                <h1>Select what you are up to donate</h1>
            </legend>

            <div class="grid-wrapper">
                <li data-name="Jackets">
                    <img src='../assets/leather-jacket.svg' alt="Jackets">
                    <span>Jackets</span>
                </li>

                <li data-name="Pants">
                    <img src='../assets/pants.svg' alt="Pants">
                    <span>Pants</span>
                </li>

                <li data-name="Shirts">
                    <img src='../assets/t-shirt.svg' alt="Shirts">
                    <span>Shirts</span>
                </li>

                <li data-name="Under Clothes">
                    <img src='../assets/under-clothes.svg' alt="Under clothes">
                    <span>Under Clothes</span>
                </li>

                <li data-name="Dresses">
                    <img src='../assets/dress1.svg' alt="Dresses">
                    <span>Dresses</span>
                </li>

                <li data-name="Accesories">
                    <img src='../assets/cap.svg' alt="Accesories">
                    <span>Accesories</span>
                </li>

                <li data-name="Sweaters">
                    <img src='../assets/sweater.svg' alt="Sweater">
                    <span>Sweaters</span>
                </li>

                <li data-name="Shoes">
                    <img src='../assets/shoes.svg' alt="Shoes">
                    <span>Shoes</span>
                </li>

                <li data-name="Warm Clothes">
                    <img src='../assets/winter.svg' alt="Warmth">
                    <span>Warm clothes</span>
                </li>

                <li data-name="Pajamas">
                    <img src='../assets/bathrobe.svg' alt="Pajamas">
                    <span>Pajamas</span>
                </li>

                <li data-name="Sportive">
                    <img src='../assets/sport.svg' alt="Sportive">
                    <span>Sportive</span>
                </li>

                <li data-name="Shorts">
                    <img src='../assets/shorts.svg' alt="Accesories">
                    <span>Shorts</span>
                </li>
            </div>

            <input type="hidden" name="items">

        </fieldset>

        <div class="submit">
            <button type="submit">Submit info</button>
        </div>

    </form>
{% endblock content %}

{% block modal %}
    {% if saved %}
        {% include "partials/register_modal.html" %}
    {% endif %}
{% endblock modal %}

{% block scripts %}
    <script src="../scripts/register.js"></script>
{% endblock scripts %}