<div id="modal" class="hide">
    <div class="content">
        <div class="header">
            <h1>Donation points</h1>
            <a href="#">Close</a>
        </div>
        <form action="/search">
            <label for="search">Type your state in</label>
            <div class="search field">
                <input type="text" name="search" placeholder="e.g. California">
                <button>
                    <img src="../assets/search.svg" alt="Search">
                </button>
            </div>
        </form>
    </div>
</div>